<form action="/horses/<%= @horse.id %>" method="post">
  <p>Edit Horse</p>
  <input type="hidden" name="_method" value="PUT" />
  <input type='text' name='horse[name]' value="<%= @horse.name %>"/><br/>
  <textarea name='horse[name]'><%= @horse.name %></textarea><br/>
  <textarea name='horse[age]'><%= @horse.age %></textarea><br/>
  <textarea name='horse[total_winnings]'><%= @horse.total_winnings %></textarea><br/>
  <input type='submit'/>
</form>
