<h1>Horses!</h1>

<a href="/horses/new">New Horse</a>

<% @horses.each do |horse| %>
    <h3><%= horse.name %></h3>
    <p><%= horse.age %></p>
    <p><%= horse.total_winnings %></p>
    <button><a href="/horses/<%= horse.id  %>/edit">Edit</a></button>
    <form action="/horses/<%= horse.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="delete"/>
    </form>
<% end %>
