<h4><a href="<%= @horse.id %>/edit">Edit your Horse</a></h4>

<h3> <%= @horse.name %> </h3>
<p> <%= @horse.jockey_id %> </p>
<p> <%= @horse.breed_id %> </p>
<p> <%= @horse.total_winnings %> </p>


<form action='<%= @horse.id %>' method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="DELETE">
</form>
